
/* body {
  font-family: "Montserrat";
}

image {
  --g:8px; /* the gap */
  /* --s:400px; /*the size*/

/* }   */
/* .parallax-wrapper {
position: relative;
overflow: hidden;
}

.image-container {
position: relative;
width: 100%;
height: 100vh;
}

.image {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
transform: translateY(0);
transition: transform 0.3s ease-out;
}*/

/* .content {
opacity: 0;
transition: opacity 0.3s ease-in;
}

.fade-in {
opacity: 1;
} */



.content {
  opacity: 0;
  transition: opacity 0.5s;
}

.fade-in {
  opacity: 1;
}

.carousel-content {
  color: white;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
}
