/* .product-details{
    width: 100%;
    display: flex;
}
.product-image-carousel{
    width:35%;
    text-align: center;
}
.product-info{
    flex:1;
    padding: 0 20px;
}
.product-reviews{
    width: 100%;
    margin: 0 auto;
}
.product-images-carousel img{
    width:100%;
}
.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color:#fff;
    opacity: .3;
}
.swiper-pagination-bullet-active{
    opacity: 1;
}
.btn-cart{
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-cart,.btn-quantity{
    display:inline-block;
}
.btn-quantity{
    margin-right: 50px;
}
.btn-quantity label{
    display: inline-block;
    width:30px;
    text-align: center;
}
@media only screen and (max-width:768px){
    .product-details{
        width:100%;
        flex-direction: column;
    }
    .product-image-carousel{
        width: 100%;
        text-align: center;
    }
    .product-info{
        flex: 1;
        padding: 10px;
        text-align: center;
    }
    .btn-cart{
        display: flex;
        flex-direction: column;
    }
    .btn-cart .btn-quantity{
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .btn-cart .addtocart{
        width: 40%;
        align-self: center;
    }
    .rating-review{
        margin:0 auto;
    }
} */

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:300,400,700,800|Open+Sans:300');

main {
    max-width: 720px;
    margin:  auto;
  }

  .container3 {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    transition: 200ms;
  }
  
  .container3:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  }
  

.card__title {
  display: flex;
  align-items: center;
  padding: 30px 40px;
}

.card__title h3 {
  flex: 0 1 200px;
  text-align: right;
  margin: 0;
  color: #252525;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.card__title .icon {
  flex: 1 0 10px;
  background: #115dd8;
  color: #fff;
  padding: 10px 10px;
  transition: 200ms;
}

.card__title .icon > a {
  color: #fff;
}

.card__title .icon:hover {
  background: #252525;
}

.card__body {
  padding: 0 40px;
  display: flex;
  flex-flow: row no-wrap;
  margin-bottom: 25px;
}

.card__body > .half {
  box-sizing: border-box;
  padding: 0 15px;
  flex: 1 0 50%;
}

.card__body .featured_text h1 {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  line-height: 50px;
  color: #181e28;
}

.card__body .featured_text p {
  margin: 0;
  padding: 0;
}

.card__body .featured_text p.sub {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  color: #686e77;
  font-weight: 300;
  margin-bottom: 5px;
}

.card__body .featured_text p.price {
  font-family: "Fjalla One", sans-serif;
  color: #252525;
  font-size: 26px;
}

.card__body .image {
  padding-top: 15px;
  width: 100%;
}

.card__body .image img {
  display: block;
  max-width: 100%;
  height: auto;
  min-width: 400px;
}

.card__body .description {
  margin-bottom: 25px;
}

.card__body .description p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 27px;
  font-size: 16px;
  color: #555;
}

.card__body span.stock {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #a1cc16;
}

.card__body .reviews .stars {
  display: inline-block;
  list-style: none;
  padding: 0;
}


.card__body .reviews > span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-left: 5px;
  color: #555;
}

.card__footer {
  padding: 30px 40px;
  display: flex;
  flex-flow: row no-wrap;
  align-items: center;
  position: relative;
}

.card__footer::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 40px;
  width: calc(100% - 40px);
  height: 3px;
  background: #115dd8;
  background: linear-gradient(to right, #115dd8 0%, #115dd8 20%, #ddd 20%, #ddd 100%);
}

.card__footer .recommend {
  flex: 1 0 10px;
}

.card__footer .recommend p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #555;
}

.card__footer .recommend h3 {
  margin: 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #115dd8;
}

.card__footer .action button {
  cursor: pointer;
  border: 1px solid #115dd8;
  padding: 14px 30px;
  border-radius: 200px;
  color: #fff;
  background: #115dd8;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  transition: 200ms;
}

.card__footer .action button:hover {
  background: #fff;
  color: #115dd8;
}
/* .ratingsDiv{
    position: relative ;
    top: 100px;
} */

#grey,
.arrow {
  color: #8f9491;
}

.arrow {
  font-size: 2.5rem;
  font-family: 'Open Sans';
  background-color: white;
  border: 0;
}

#number {
  font-size: 1.8rem;
  font-family: "Fjalla One", sans-serif
}

#quantity {
  font-size: 1.3rem;
  font-family: "Fjalla One", sans-serif;
  padding-top: 25px;
}
