/* @import url('https://fonts.cdnfonts.com/css/comico-2'); */

@import url('https://fonts.cdnfonts.com/css/christopher-done');
@import url('https://fonts.cdnfonts.com/css/poppins');

 

.fullDiv{
  margin-top: -5px;
}

.WhyWorkWithUs{
  padding-top: 15px;
}

.WhyChoosingUs{
  padding-top: 15px;
}

