/* .box{
    width: 70%;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
} */

Grid.box{
    border: 5px solid black;
    
}

.box {
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.box:hover {
  /* background-image: linear-gradient(to right, #143a0d, #a1c282) */
}