@import url('https://fonts.cdnfonts.com/css/comico-2');
span.logo{
    font-family: 'Comico', sans-serif;
    text-decoration:none;
    font-size: 2rem;
}
header{

}
.site-header{
    color:#080707;
    display:flex;
    /* background-color: #f4f5f4; */
    background-image: linear-gradient(to right, #DDFFBB, #379237);
    color: white;
    box-shadow: 0px 2px 4px -1px rgba(2, 41, 3, 0.2), 0px 4px 5px 0px rgba(2, 41, 3, 0.2), 0px 1px 10px 0px rgba(2, 41, 3, 0.2);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 9;
}
.primary-menu{
    display: flex;
    align-items: center;
    flex-grow: 10;
    justify-content: space-between;
    margin: 8px;
}
.secondary-menu{
    display: flex;
    align-items: center;
}
.pages-area{
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.pages-area a{
    display: flex;
    height: 150%;
    align-items: center;
    text-decoration: none;
    margin-right: 15px;
    font-weight: 500;
    text-shadow: 1px 1px 1px #9aeeb6;
}
header a{
    color:#285430
}
.mobile-menu{
    display: none;
}
.mnwrapper{
    padding: 25px;
    display: flex;
    flex-direction: column;
    background-color: #08691d;
    height: 200vh;
    width:35vw;
}

.mnwrapper a{
    color:#086126;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 1px 1px 1px #299151;
    margin: 10px 0;
}
.active{
    color: #133c1e;
}
header a:hover{
    color: #6ba57c;
}
@media only screen and (max-width:768px){
    .mobile-menu{
        display: block;
        margin-right: 25px;
    }
    .pages-area{
        display: none;
    }
    .primary-menu{
        justify-content: flex-start;
    }
} 
/* .logo-area{
    display: flex;
    width: auto;
    height: auto;
} */

/* .site-header {
    background-image: linear-gradient(to right, #00b712, #00b7a1);
    color: white;
  }
  
  .site-header .primary-menu nav a, 
  .site-header .secondary-menu a {
    color: white;
  }
  
  .site-header .primary-menu nav a.active, 
  .site-header .secondary-menu a.active {
    border-bottom: 2px solid white;
  }
   */