

@import url('https://fonts.cdnfonts.com/css/christopher-done');

.headers {
   /* background: linear-gradient(to bottom,#2b5024

,#f2f1e4





   );   */
   /* background-image: -moz-element(); */


}

.bg-transparent{
  background-color: transparent ;

}

.logo {
  color: #ebeee9;
  font-size: 28px;
  font-style: inherit;
  font-family: 'Christopher Done', sans-serif;
  font-size: 2rem;
  text-decoration:double;
  /* margin-top: 1rem;
  margin-bottom: 1rem; */

  
  

}

.navbar {
  position: relative;
  z-index: 9999;
  font-family:sans-seri ;
  margin: 0%;
  padding: 0%;
  font-size: 16px;
  /* margin-top: 2rem;
  margin-bottom: 2rem; */
color: #ebeee9;
}

.nav-item{
  margin:0px;
  padding:0px;
  list-style: none;
  /* margin-bottom: 6rem; */
  /* display: inline-flex; */
  color: #ebeee9;
}
.navbar-nav{
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  /* padding-left: 10%;
  padding-right: 10%; */
  /* margin-bottom: 5rem;
     */

}